:root {
    --contWidth: 600px;
    --contHeight: 600px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: sticky;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    height: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    gap: 30px;
}

#gameContainer {
    position: relative;
    height: var(--contHeight);
    width: var(--contWidth);
}

#commands {
    width: var(--contWidth);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    height: 50px;
}

.window {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 400px;
    height: 400px;
    left: calc(50% - 230px);
    top: calc(50% - 230px);
    z-index: 99;
    background: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 30px;
}

#canvas1,
#canvas2 {
    position: absolute;
}

#canvas1 {
    background: rgba(255, 255, 255, 0.9);
    z-index: -1;
}
