* {
    margin: 0;
    padding: 0;
}

body {
    background: #383eaa;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: white;
    height: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    gap: 30px;
}

#gameContainer {
    position: relative;
    height: 600px;
    width: 600px;
}

#commands {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    height: 50px;
}

#canvas1,
#canvas2 {
    position: absolute;
    height: 600px;
    width: 600px;
}

#canvas1 {
    background: white;
    z-index: -1;
}
